<div class="container-fluid col-md-6 justify-content-center">
    <h5 class="mt-2 text-secondary">{{title}}</h5>

    <ul class="list-group w-auto mt-3 " >
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h2 class="mt-0 mb-0" >{{data.producer.name}}</h2>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item flex-fill">{{data.origin.country}}</li>
                <li class="list-group-item flex-fill">{{data.origin.region}}</li>
                <li class="list-group-item flex-fill">{{data.village}}</li>
                <li class="list-group-item flex-fill">{{data.vineyard}}</li>

            </ul>


        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
                        Classification: <h6 class="align-self-center mt-0 mb-0 ml-1">{{data.classification}}</h6>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Age: <h6 class="align-self-center mt-0 mb-0 ml-1">{{data.age}}</h6>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Category: <h6 class="align-self-center mt-0 mb-0 ml-1">{{data.category}}</h6>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{!-- variety is in an array to provide for wine with multiple grape varieties --}}
                        Variety: {{#each data.variety}}
                                        <h6 class="align-self-center mt-0 mb-0 ml-1">{{this.varietyName}}</h6>
                                        {{/each}}
                    </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            Bottle Count
            <h5 class="align-self-center mt-0 mb-0 "><span class="badge badge-primary badge-pill ml-2">{{data.count}}</span></h5>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Bin No.
            <h5 class="align-self-center mt-0 mb-0"><span class="badge badge-primary badge-pill ml-2">{{data.bin}}</span></h5>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Status: <h6 class="align-self-center mt-0 mb-0 ml-1">{{data.status}}</h6>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Notes: <h6 class="align-self-center mt-0 mb-0 ml-1">{{data.notes}}</h6>
        </li>
        <li class="list-group-item d-flex justify-content-start align-items-center">
               <a href="/catalog/bottleinstance/{{data._id}}/update"><button class="btn btn-outline-primary btn-sm mr-2 ">Update </button></a>
    <a href="/catalog/bottleinstance/{{data._id}}/delete"><button class="btn btn-outline-danger btn-sm ">Delete </button></a>
 
        </li>

    </ul>
</div>