<div class="container-fluid col-md-6 justify-content-center">
    <h3 class="mt-2">{{title}}</h3>
    <div>
        {{#each origin_list}}

        <ul class="list-group mt-2 ">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h3 class="mt-0 mb-0">{{this.country}}</h3>
            
                <h5 class="mt-0 mb-0">{{this.region}}</h5>
            </li>
            <li class="list-group-item d-flex justify-content-start align-items-center">
                <a href="/catalog/origin/{{this._id}}"><button
                        class="btn btn-outline-primary btn-sm mt-1 mr-2">Wines</button></a>
                <a href="/catalog/origin/{{this._id}}/delete"><button
                        class="btn btn-outline-danger btn-sm mt-1">Delete</button></a>
            </li>

        </ul>

        {{/each}}
    </div>
</div>