

<div class="container">
    <h1 class="mt-2">{{title}}</h1>

    <div>{{#each variety_details}}
        <ul class="list-group mt-2">
            <li class="list-group-item">
                <ul class="list-group col-md-8">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h2>{{this.producer.name}}</h2>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <ul class="list-group list-group-horizontal-md">
                            <li class="list-group-item flex-fill">{{this.origin.country}}</li>
                            <li class="list-group-item flex-fill">{{this.origin.region}}</li>
                            <li class="list-group-item flex-fill">{{this.village}}</li>
                            <li class="list-group-item flex-fill">{{this.vineyard}}</li>

                        </ul>


                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <span class="text-secondary">Classification: &nbsp;</span>  {{this.classification}}
                    </li>
                    <li class="list-group-item d-flex  align-items-center">
                        <span class="text-secondary">Age: &nbsp;</span> {{this.age}}
                    </li>
                    <li class="list-group-item d-flex  align-items-center">
                        <span class="text-secondary">Category: &nbsp;</span> {{this.category}}
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        {{!-- variety is in an array to provide for wine with multiple grape varieties --}}
                        <span class="text-secondary">Variety: &nbsp;</span> {{#each this.variety}}
                        {{this.varietyName}}
                        {{/each}}
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bottle Count
                        <span class="badge badge-info badge-pill ml-2">{{this.count}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bin No.
                        <span class="badge badge-info badge-pill ml-2">{{this.bin }}</span>
                    </li>
                    
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="bottleinstance/{{this._id}}">Full Details</a>
                    </li>

                </ul>



        </ul>


        {{/each}}
    </div>

    {{#if variety_details}}

    {{else}}
    <h4 class="mt-4">Time to go shopping!</h4>
    <h6>There aren't any {{varietyNameParam}} wines in your cellar yet.</h6>
    {{/if}}
</div>